*{
    padding: 0;
    margin: 0;
    justify-content: center;
    text-align: center;
}
h1{
    height: 5rem;
    background-color: rgb(4, 4, 48);
    text-align: center;
    color: antiquewhite;
    
    line-height: 5rem;

}
.choices{
   
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
   
}
.choice{
    height: 28vh;
    width: 28vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    
   
}
img{
    height: 25vh;
    width: 25vh;
    object-fit: cover;
    border-radius: 50%;
    
}
.choice:hover{
    opacity: 0.7;
    cursor: pointer;
    background-color: black;

}
#msg{
    font-size: 9vh;
    margin-top: 3rem;
    background-color: blueviolet;
   
    color: aliceblue;
    
    

}
.scorecard{
    font-size: 17vh;
    display: flex;
    margin-top: 4rem;
    gap: 4rem;
    text-align: center;
    align-items: center;
}
